//Colors

$primary-color:#201e1e;
$secondary-color:#ff652f;
$hover-color:rgb(192, 192, 34);
$text-color:#fff;

//fonts

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//path

$pathname1: "../img/po.jpg";
$pathname2: "../img/panda.jpg";
$pathname3: "../img/kungfu-1.jpg";
$pathname4: "../img/kungfu-2.jpg";
$pathname5: "../img/kungfu-3.jpg";
$pathname6: "../img/kungfu-4.jpg";
$pathname7: "../img/kungfu.jpg";